@page
@model Sistema.App.Frontend.Pages.ListPartidoModel
@{
}
<h1>Listado de Partidos</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Partido</a>
<table class="table">

    <tbody>
        @foreach (var partido in Model.Partidos)
        {
            <tr>
                <th>@partido.Local</th>
                <th>@partido.Visitante</th>
                <th>@partido.Hora</th>
                <th>@partido.Fecha</th>
                <th>@partido.Arbitro</th>
                <th>@partido.Cancha</th>


                <td>
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@partido.Id">Detalle</a>
                        <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@partido.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>