@page
@model Sistema.App.Frontend.Pages.Persona.IndexModel
@{
}
<h1>Listado de Personas</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo persona</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Documento</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var persona in Model.personas)
        {
            <tr>
                <th>@persona.Nombre</th>
                <td>@persona.Apellidos</td>
                <td>@persona.NumeroTelefono</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@persona.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@persona.Id">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>